$bgcolor: #ffffff;

$h3-bgcolor: #cccccc;
$h4-bgcolor: rgba(233, 233, 233, 0.8);
$border-color1: #cccccc;

%unset-props {
  max-width: unset;
  min-width: unset;
  border: none;
  box-shadow: none;
  margin: 0em;
  padding: 0em;
}

%flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

%block-default {
  margin: 1em 1em 1.5em 1em;
  padding: 0.2%;
}

%h1-default {
  margin: 1% !important;
  font-size: 1.6em;
  margin: 0em;

  &::after {
    content: "(copia di cortesia non valida a fini legali)";
    margin-left: 1em;
    font-size: 0.8em;
  }
}

%h3-default {
  flex: 1 0 80%;
  background-color: $h3-bgcolor;
  padding: 0.2em;
  font-size: 1.2em;
  //border: 1px solid $border-color1;
  margin: 0em;
}

%h4-default {
  @extend %h3-default;
  font-size: 1em;
  border: none;
  margin-top: 0.2em;
  background-color: $h4-bgcolor;
}

%h5-default {
  @extend %h4-default;
  font-size: 1em;
  border: none;
  margin-top: 0.2em;
  background-color: $h4-bgcolor;
}

%ul-default {
  flex: 1 0 100%;
  padding: 0em !important;
  list-style: none;
  margin: 0em;

  li:first-child {
    border: none;
  }

  li {
    border-top: 1px solid $border-color1;
    padding: 0.4em;
    font-size: 1em;

    clear: both;

    span {
      float: right;
      font-weight: bold;
      margin: 0.4em 0em 0.4em 1em;
    }
  }
}

body {
  background-color: $bgcolor;
}

#fattura-elettronica {
  @extend %unset-props;

  font-size: 9.5pt;
  font-family: "Source Sans Pro", "Arial", sans-serif;

  h1 {
    @extend %h1-default;
  }

  div.page {
    @extend %unset-props;
  }

  div.versione,
  div.footer {
    @extend %block-default;
    display: none;
    flex: 1 0 100%;
  }

  &>div.page {
    @extend %flex-wrap;

    margin: 0em;

    div#dati-trasmissione {
      flex: 1 0 80%;
      border: 1px solid $border-color1;
    }

    div#cedente,
    div#cessionario {
      flex: 1 0 46%;
      border: 1px solid $border-color1;
      margin: 1em;
    }

    div#dati-trasmissione,
    div#cedente,
    div#cessionario {
      @extend %block-default;
      border: 1px solid $border-color1;

      h3 {
        @extend %h3-default;
      }

      h4 {
        @extend %h4-default;
      }

      ul {
        @extend %ul-default;
      }
    }
  }

  &>div.page~div.page {
    display: block;

    div#dati-generali {
      @extend %block-default;
      @extend %flex-wrap;
      padding: 0em;
      border: 1px solid $border-color1;

      div#dati-generali-documento,
      div#dati-ordine-acquisto,
      div#dati-contratto,
      div#dati-convenzione,
      div#dati-ricezione,
      div#dati-trasporto {
        //font-size: 0.8em;
        flex: 1 0 30%;
        border: 1px solid lighten($border-color1, 15%);
        margin: 0.2em;

        h3 {
          @extend %h3-default;
        }

        h4 {
          @extend %h4-default;
        }

        ul {
          @extend %ul-default;
        }
      }
    }

    div#dati-dettaglio-linee {

      div#righe,
      div#riepilogo-aliquote-nature {
        @extend %block-default;
        border: 1px solid $border-color1;

        h3 {
          @extend %h3-default;
        }

        h5 {
          @extend %h5-default;
        }

        ul {
          @extend %ul-default;
        }
      }
    }

    div#dati-pagamento-condizioni {
      @extend %block-default;
      border: 1px solid $border-color1;

      h3 {
        @extend %h3-default;
      }

      h5 {
        @extend %h5-default;
      }

      ul {
        @extend %ul-default;
      }
    }

    div#righe {
      flex: 1 0 80%;
    }

    div#dati-pagamento-condizioni {}
  }
}

@media print {
  div#page {
    page-break-after: always;
  }

  div#dati-generali,
  div#dettaglio-linee,
  div#righe {
    page-break-after: always;
  }

  div#dati-pagamento-condizioni {
    page-break-after: auto;
  }
}

@page {
  margin: 1.5cm
}

/* First page, 10 cm margin on top */
@page :first {
  margin-top: 10cm;
}

/* Left pages, a wider margin on the left */
@page :left {
  margin-left: 2cm;
  margin-right: 1.5cm;
}

@page :right {
  margin-left: 1.5cm;
  margin-right: 2cm;
}