#fattura-elettronica, #fattura-elettronica div.page {
  max-width: unset;
  min-width: unset;
  border: none;
  box-shadow: none;
  margin: 0em;
  padding: 0em; }

#fattura-elettronica > div.page, #fattura-elettronica > div.page ~ div.page div#dati-generali {
  display: flex;
  flex-wrap: wrap; }

#fattura-elettronica div.versione,
#fattura-elettronica div.footer, #fattura-elettronica > div.page div#dati-trasmissione,
#fattura-elettronica > div.page div#cedente,
#fattura-elettronica > div.page div#cessionario, #fattura-elettronica > div.page ~ div.page div#dati-generali, #fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#righe,
#fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#riepilogo-aliquote-nature, #fattura-elettronica > div.page ~ div.page div#dati-pagamento-condizioni {
  margin: 1em 1em 1.5em 1em;
  padding: 0.2%; }

#fattura-elettronica h1 {
  margin: 1% !important;
  font-size: 1.6em;
  margin: 0em; }
  #fattura-elettronica h1::after {
    content: "(copia di cortesia non valida a fini legali)";
    margin-left: 1em;
    font-size: 0.8em; }

#fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#righe h5,
#fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#riepilogo-aliquote-nature h5, #fattura-elettronica > div.page ~ div.page div#dati-pagamento-condizioni h5, #fattura-elettronica > div.page div#dati-trasmissione h4,
#fattura-elettronica > div.page div#cedente h4,
#fattura-elettronica > div.page div#cessionario h4, #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-generali-documento h4,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ordine-acquisto h4,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-contratto h4,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-convenzione h4,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ricezione h4,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-trasporto h4, #fattura-elettronica > div.page div#dati-trasmissione h3,
#fattura-elettronica > div.page div#cedente h3,
#fattura-elettronica > div.page div#cessionario h3, #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-generali-documento h3,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ordine-acquisto h3,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-contratto h3,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-convenzione h3,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ricezione h3,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-trasporto h3, #fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#righe h3,
#fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#riepilogo-aliquote-nature h3, #fattura-elettronica > div.page ~ div.page div#dati-pagamento-condizioni h3 {
  flex: 1 0 80%;
  background-color: #cccccc;
  padding: 0.2em;
  font-size: 1.2em;
  margin: 0em; }

#fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#righe h5,
#fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#riepilogo-aliquote-nature h5, #fattura-elettronica > div.page ~ div.page div#dati-pagamento-condizioni h5, #fattura-elettronica > div.page div#dati-trasmissione h4,
#fattura-elettronica > div.page div#cedente h4,
#fattura-elettronica > div.page div#cessionario h4, #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-generali-documento h4,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ordine-acquisto h4,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-contratto h4,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-convenzione h4,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ricezione h4,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-trasporto h4 {
  font-size: 1em;
  border: none;
  margin-top: 0.2em;
  background-color: rgba(233, 233, 233, 0.8); }

#fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#righe h5,
#fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#riepilogo-aliquote-nature h5, #fattura-elettronica > div.page ~ div.page div#dati-pagamento-condizioni h5 {
  font-size: 1em;
  border: none;
  margin-top: 0.2em;
  background-color: rgba(233, 233, 233, 0.8); }

#fattura-elettronica > div.page div#dati-trasmissione ul,
#fattura-elettronica > div.page div#cedente ul,
#fattura-elettronica > div.page div#cessionario ul, #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-generali-documento ul,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ordine-acquisto ul,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-contratto ul,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-convenzione ul,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ricezione ul,
#fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-trasporto ul, #fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#righe ul,
#fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#riepilogo-aliquote-nature ul, #fattura-elettronica > div.page ~ div.page div#dati-pagamento-condizioni ul {
  flex: 1 0 100%;
  padding: 0em !important;
  list-style: none;
  margin: 0em; }
  #fattura-elettronica > div.page div#dati-trasmissione ul li:first-child,
  #fattura-elettronica > div.page div#cedente ul li:first-child,
  #fattura-elettronica > div.page div#cessionario ul li:first-child, #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-generali-documento ul li:first-child,
  #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ordine-acquisto ul li:first-child,
  #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-contratto ul li:first-child,
  #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-convenzione ul li:first-child,
  #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ricezione ul li:first-child,
  #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-trasporto ul li:first-child, #fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#righe ul li:first-child,
  #fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#riepilogo-aliquote-nature ul li:first-child, #fattura-elettronica > div.page ~ div.page div#dati-pagamento-condizioni ul li:first-child {
    border: none; }
  #fattura-elettronica > div.page div#dati-trasmissione ul li,
  #fattura-elettronica > div.page div#cedente ul li,
  #fattura-elettronica > div.page div#cessionario ul li, #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-generali-documento ul li,
  #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ordine-acquisto ul li,
  #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-contratto ul li,
  #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-convenzione ul li,
  #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ricezione ul li,
  #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-trasporto ul li, #fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#righe ul li,
  #fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#riepilogo-aliquote-nature ul li, #fattura-elettronica > div.page ~ div.page div#dati-pagamento-condizioni ul li {
    border-top: 1px solid #cccccc;
    padding: 0.4em;
    font-size: 1em;
    clear: both; }
    #fattura-elettronica > div.page div#dati-trasmissione ul li span,
    #fattura-elettronica > div.page div#cedente ul li span,
    #fattura-elettronica > div.page div#cessionario ul li span, #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-generali-documento ul li span,
    #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ordine-acquisto ul li span,
    #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-contratto ul li span,
    #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-convenzione ul li span,
    #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ricezione ul li span,
    #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-trasporto ul li span, #fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#righe ul li span,
    #fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#riepilogo-aliquote-nature ul li span, #fattura-elettronica > div.page ~ div.page div#dati-pagamento-condizioni ul li span {
      float: right;
      font-weight: bold;
      margin: 0.4em 0em 0.4em 1em; }

body {
  background-color: #ffffff; }

#fattura-elettronica {
  font-size: 9.5pt;
  font-family: "Source Sans Pro", "Arial", sans-serif; }
  #fattura-elettronica div.versione,
  #fattura-elettronica div.footer {
    display: none;
    flex: 1 0 100%; }
  #fattura-elettronica > div.page {
    margin: 0em; }
    #fattura-elettronica > div.page div#dati-trasmissione {
      flex: 1 0 80%;
      border: 1px solid #cccccc; }
    #fattura-elettronica > div.page div#cedente,
    #fattura-elettronica > div.page div#cessionario {
      flex: 1 0 46%;
      border: 1px solid #cccccc;
      margin: 1em; }
    #fattura-elettronica > div.page div#dati-trasmissione,
    #fattura-elettronica > div.page div#cedente,
    #fattura-elettronica > div.page div#cessionario {
      border: 1px solid #cccccc; }
  #fattura-elettronica > div.page ~ div.page {
    display: block; }
    #fattura-elettronica > div.page ~ div.page div#dati-generali {
      padding: 0em;
      border: 1px solid #cccccc; }
      #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-generali-documento,
      #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ordine-acquisto,
      #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-contratto,
      #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-convenzione,
      #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-ricezione,
      #fattura-elettronica > div.page ~ div.page div#dati-generali div#dati-trasporto {
        flex: 1 0 30%;
        border: 1px solid #f2f2f2;
        margin: 0.2em; }
    #fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#righe,
    #fattura-elettronica > div.page ~ div.page div#dati-dettaglio-linee div#riepilogo-aliquote-nature {
      border: 1px solid #cccccc; }
    #fattura-elettronica > div.page ~ div.page div#dati-pagamento-condizioni {
      border: 1px solid #cccccc; }
    #fattura-elettronica > div.page ~ div.page div#righe {
      flex: 1 0 80%; }

@media print {
  div#page {
    page-break-after: always; }

  div#dati-generali,
  div#dettaglio-linee,
  div#righe {
    page-break-after: always; }

  div#dati-pagamento-condizioni {
    page-break-after: auto; } }
@page {
  margin: 1.5cm; }
/* First page, 10 cm margin on top */
@page :first {
  margin-top: 10cm; }
/* Left pages, a wider margin on the left */
@page :left {
  margin-left: 2cm;
  margin-right: 1.5cm; }
@page :right {
  margin-left: 1.5cm;
  margin-right: 2cm; }

/*# sourceMappingURL=fepa.css.map */
